$aero-blue: #a9fbd7;
$aqua-island: #a4ccda;
$aquamarine-blue: #65e1ca;
$baltic-sea: #252329;
$blue-dianne: #1b3f4d;
$foam: #d7fdec;
$pickelwood-blue: #233746;
$piction-blue: #50b9df;
$powder-blue: #b2e4db;

$primary-color: $powder-blue;

//Neutral
$white: #ffffff;
$black: #000000;
