$aero-blue: #a9fbd7;
$aqua-island: #a4ccda;
$aquamarine-blue: #65e1ca;
$baltic-sea: #252329;
$foam: #d7fdec;
$piction-blue: #50b9df;
$powder-blue: #b2e4db;

//Neutral
$white: #ffffff;
$black: #000000;
