* {
  box-sizing: content-box;
  padding: unset;
  margin: unset;
}

body {
  background-image: linear-gradient(
    to left top,
    #000000,
    #0f0e0f,
    #171819,
    #1d2022,
    #232929
  );
  color: $primary-color;
  font-weight: 200;

  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  line-height: 200%;
}

::selection {
  color: $outer-space;
  background: $powder-blue;
}
