* {
  box-sizing: content-box;
  padding: unset;
  margin: unset;
}

body {
  background-color: $outer-space;
  color: $primary-color;
  font-weight: 200;

  &::-webkit-scrollbar {
    display: none;
  }
}

p {
  line-height: 200%;
}

::selection {
  color: $outer-space;
  background: $powder-blue;
}
