@keyframes gradientPositionAnimation {
  0% {
    background-position: 50% 50%;
  }
  12% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 0% 0%;
  }
  37% {
    background-position: 50% 0%;
  }
  50% {
    background-position: 50% 50%;
  }
  62% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 100% 100%;
  }
  87% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 50%;
  }
}
